<header class="header" data-fixed-header>
	<div class="header__top top-header">
		<div class="top-header__container">
			<a href="/" class="top-header__logo logo">
				<img class="logo__main" src="images/header-logo/main.svg" alt="logo">
				<span class="logo__text">K-MODELS</span>
			</a>
			<ul data-da=".menu__body, 767.98, last" class="top-header__social social">
				<li>
					<a href="#">
						<span class="element" style="--icon: url(../images/social/telegram.svg)"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="element" style="--icon: url(../images/social/wp.svg)"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="element" style="--icon: url(../images/social/vk.svg)"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="element" style="--icon: url(../images/social/ax.svg)"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="element" style="--icon: url(../images/social/yt.svg)"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="element" style="--icon: url(../images/social/tk.svg)"></span>
					</a>
				</li>
			</ul>
			<div class="top-header__actions">
				<a data-da=".menu__body, 767.98, last" href="tel:89650022072" target="_blank"
					class="top-header__button top-header__button_callback">8 (965) 002-20-72</a>
				<a data-micromodal-trigger="modal-request" href="#" class="top-header__button">ОСТАВИТЬ ЗАЯВКУ</a>
			</div>
		</div>
	</div>
	<div class="header__bottom bottom-header">
		<div class="bottom-header__container">
			<div class="bottom-header__menu">
				<button data-da=".top-header__container, 767.98, last" type="button"
					class="menu__icon icon-menu"><span></span></button>
				<nav class="menu__body">
					<ul class="menu__list">
						<li class="menu__item"><a href="#request" class="menu__link">Вакансии</a></li>
						<li class="menu__item"><a href="#reviews" class="menu__link">Отзывы</a></li>
						<li class="menu__item"><a href="#fqa" class="menu__link">Вопросы</a></li>
						<li class="menu__item"><a href="blog.html" class="menu__link">Блог</a></li>
						<li class="menu__item"><a href="#interior" class="menu__link">Интерьеры</a></li>
						<li class="menu__item"><a href="#contacts" class="menu__link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>